extends ../../_component/layout/template

block cool-config
  -
    var myTitle='Learn to code CSS borders for beginners';
    var myDescription='Borders in CSS are easy to use!';
    var landingPage='CSS';
    var activeLink='/css/borders';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 CSS Colors
  p Colors in CSS are most often specified by:
  ul
    li A valid color name
    li A RGB value
    li A HEX value
  h2 CSS Background
  p The CSS background properties are used to define the background effects for elements.
  h2 CSS Borders 
  p The CSS border properties allow you to specify the style, width, and color of an element.